<html>


<head>
    <h1>{{character.name}}</h1>
</head>

<body>
    <a href="{% url 'characters:characters' %}">Back to character list</a>
    <form action="{% url 'characters:character_sheet' character.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {{form.as_p}}
        </fieldset>
        <fieldset>
            <legend>Attributes:</legend>
            {%for form in attribute_forms %}
            {{ form.attribute.label_tag }} {{ form.attribute }}<br>
            {{ form.value.label_tag }} {{ form.value }}<br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Save">
    </form>


</body>

</html>