{% extends './base_mythic.html' %}
{%load static%}
{% block title %}List of games{% endblock %}

{% block content %}
<header>
    <h1>Games</h1>
</header>
<ul id = 'list-of-games'>
    {%for game in games%}
    <li class = "games-list-entry">
        <a href = "{%url 'mythic:game' game.pk%}">{{game.name}}</a>
        <button id = "delete-button-{{game.pk}}" class = 'delete-button' value = "{%url 'mythic:delete_game' game.pk%}">Delete</button>
    </li>
    {% endfor %}
</ul>
<form action = "" method = "POST" hidden id = "create-new-game-form">
    {{new_game_form}}
    <input type="submit" value="Save">
    <input type="button" id = 'cancel-create-new-game' value = "Cancel">
</form>

<button id = 'create-new-game-button'>Create New Game</button>
<script  type="module" src = "{% static 'mythic/js/game-list.js' %}"></script>
{% endblock %}
