<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{game.name}}</title>
    {%load static%}
    <link rel="stylesheet" href={% static "mythic/css/game_style.css" %}>
    {% csrf_token %}
</head>

<body>
    <script>
        let window.URLs = {
            messages = "{% url 'mythic:messages' game.pk 0%}",
            notes = "{% url 'mythic:notes' game.pk%}"
            scenes = "{% url 'mythic:scenes' game.pk%}",
         }
        
        window.gameId = {{game.pk}};
        {%if game.active_scene != None%}
        window.activeTab = {{game.active_scene.pk}};
        {%else%}
        window.activeTab = null;
        {%endif%}
    </script>
    <div class = "game-area">
        <div class = "list">
            <div class = "list-content">
                <p>First character</p>
                <button class = 'add-content-button'>+</button>
            </div>
            <div class = "list-name">
                <h2 class = "list-name-text">Characters</h2>
            </div>
        </div>
        <div class = "message-interface">
            <div id = 'tab-line'>
                <div id = "notes-tab" class = "tab">
                    <h3 class = "tab-name">Notes:</h3>
                    <div id = 'scenes-tab-line'>
                        {%for scene in scenes%}
                        <div id = {{scene.pk}} class = "tab">
                            <h3 class = "tab-name" unselectable="on">{{scene.name}}:</h3>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                
                <button id = "add-scene-button">+</button>
                
            </div>
            <div id = "message-box" class="message-box">
                
            </div>
            <div>
                <p id = "meaning-roll-label">Meaning roll:</p>
                <button class = "meaning-roll-button">Action</button>{% comment %} 
                 {% endcomment %}<button class = "meaning-roll-button">Description</button>
                 <button class = "meaning-roll-button" id = "element-meaning-roll-button">Element:</button>{% comment %} 
                 {% endcomment %}<select id = "meanings">
                    {% for meaning_table in meaning_tables %}
                    <option value = {{meaning_table.name}}>{{meaning_table.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <form id ="message-form" class = "message-form">
                <textarea id="message" name="message" rows="4" cols="50" class = "message-area"></textarea><br>
                <input type="submit" value=">">
            </form>
        </div>
        <div class = "list">
            <div class = "list-content">
                <p>First thread</p>
                <button class = 'add-content-button'>+</button>
            </div>
            <div class = "list-name">
                <h2 class = "list-name-text">Threads</h2>
            </div>
        </div>
    </div>

    <script type='module' src = "{% static 'mythic/js/game.js' %}"></script>
</body>

</html>