{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% csrf_token %}
</head>

<body>
    <input type='hidden' , id='get-games-url' value='{% url 'mythic:next_game'%}'>
    <header>
        <h1>Games</h1>
    </header>
    <ul id = 'list-of-games'>
        {% for game in games%}
        <li><a href={% url 'mythic:games' game.id%}>{{game.name}}</a></li>
        {%endfor%}
    </ul>
    <form hidden = 'True'>
        <label for = 'new-game-name'>Game name:</label>
            <input id = 'new-game-name'> 
    </form>
    <button id = 'create-new-game'>Create New Game</button>

   

    <script src = "{% static 'mythic/js/test.js' %}"></script>
</body>

</html>