{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% csrf_token %}
</head>

<body>
    <input type='hidden' , id='get-list_of_games-url' value='{% url 'mythic:get_list_of_games'%}'>
    <input type = 'hidden', id = 'go-to-game-url' value ='{% url 'mythic:games' 0 %}'>
    <input type = 'hidden', id = 'delete-game-url' value ='{% url 'mythic:delete_game' 0 %}'>
    <header>
        <h1>Games</h1>
    </header>
    <ul id = 'list-of-games'>
    </ul>
    <form action = {%url 'mythic:get_list_of_games' %} method = "POST" hidden id = "create-new-game-form">
        {% csrf_token %}
        <label for = 'new-game-name'>Game name:</label>
        <input id = 'new-game-name' name ='new-game-name' required> <br>
        <input type="submit" value="Save">
        <input type="button" onclick = 'cancelCreateNewGame()', value = "Cancel">
    </form>
    <button id = 'create-new-game-button' onclick = 'showCreateNewGameForm()'>Create New Game</button>

   

    <script src = "{% static 'mythic/js/game-list.js' %}"></script>
</body>

</html>